
<app-backgound></app-backgound>
<div
  class="w-full md:w-3/12 absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-white rounded-lg opacity-75 shadow-lg shadow-red-900/50">
  <h1 class="font-bold text-3xl py-4 text-center">Netflix Log in</h1>
  <input type="email" placeholder="Enter your email" class="border-2 w-60 text-center" id="hover-id" />

  <input type="password" placeholder="Enter your password" class="border-2 w-60 mt-3 text-center" id="hover-id" />
  <div class="bg-indigo-500 shadow-lg shadow-red-500/50 w-60 mt-3 text-center" id="hover-button">
    <button class="text-center">SUBMIT</button>
  </div>

  <a href="/forget-password" class="mr-15">forget password</a>
  <a href="/sign-up">sign-up</a>
</div>