<iframe class="w-screen " src="https://www.youtube.com/embed/onrO_8Ruah8?autoplay=1&mute=1&loop=1&controls=0"  frameborder="0"></iframe>
<div class="h-screen bg-white">

<div class="pt-[15%] px-24 h-full absolute text-white bg-gradient-to-r from-black">
    <h1 class="text-3xl font-bold">Avengers</h1>
    <p class="inline-block py-6 text-xl w-1/4 flex-wrap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam doloribus dolor provident quis ducimus, qui cum ipsam quos dignissimos aliquam quisquam autem! Accusamus harum officia illo, nesciunt dicta temporibus, eveniet error delectus commodi modi corrupti repellendus cupiditate aliquam iste porro consequuntur dolores alias veritatis labore? Ipsum nostrum quas ea possimus?</p>
<div>

    <button class="bg-white text-black font-bold py-4 px-12 text-xl rounded-lg hover:bg-red-700 hover:text-white  transition-[1s]"> ▶️ Play</button>
    <button class="mx-2 bg-gray-600 text-white px-12 py-4 text-xl opacity-80 rounded-lg"> More Info</button>
</div>

</div>

</div>